@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --ff-primary: 'Lexend Deca', sans-serif;
    --ff-secondary: 'Big Shoulders Display', monospace;

    --fw-reg: 400;
    --fw-bold: 700;


    --clr-background-heading-btn: hsl(0, 0%, 95%);
    --clr-paragraph: hsla(0, 0%, 100%, 0.75);



    --clr-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);

    
}


body {
    font-family: var(--ff-primary);
    -webkit-font-smoothing: antialiased;
    background: var(--clr-background-heading-btn);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    border: solid 10px black;
    margin: auto;

}


h2 {
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
    color: var(--clr-background-heading-btn);
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-top: 4.7rem;
    margin-bottom: 1.7rem;
    text-align: left;
}

p {
    font-size: 0.9rem;
    font-weight: var(--fw-reg);
    color: var(--clr-paragraph);
    text-align: left;
    margin-bottom: 3.5rem;
}

a {
    color: var(--clr-background-heading-btn);
    text-decoration: none;
}


.container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.container a {
    margin-right: 4.5rem;
}

.container > div {
    padding: 2rem 2.8rem;
}

.tab-1 {
    height: 440px;
    background: var(--clr-orange);
    background-image: url('../images/icon-sedans.svg');
    background-repeat: no-repeat;
    background-position: 17% 12%;
    background-size: 20%;
}

.tab-2 {
    height: 440px;
    background: var(--clr-dark-cyan);
    background-image: url('../images/icon-suvs.svg');
    background-repeat: no-repeat;
    background-position: 17% 12%;
    background-size: 20%;
}

.tab-3 {
    height: 440px;
    background: var(--clr-very-dark-cyan);
    background-image: url('../images/icon-luxury.svg');
    background-repeat: no-repeat;
    background-position: 17% 12%;
    background-size: 20%;
}

.btn {
    border: 2px solid var(--clr-background-heading-btn);
    background: var(--clr-background-heading-btn);
    display: inline-block;
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 2.2rem;
}

.btn:hover {
    background: transparent;
    color: var(--clr-background-heading-btn);
}

.tab-1 a {
    color: var(--clr-orange);
}

.tab-2 a {
    color: var(--clr-dark-cyan);

}

.tab-3 a {
    color: var(--clr-very-dark-cyan);

}

.footer {
    width: 30%;
    margin: 1rem auto;
    overflow: auto;
}

.footer p {
    margin-bottom: 1.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 372px) {

  .container {
    width: 85%;
  }

  .btn {
    padding: 1rem 2rem;
  }

}

@media(max-width: 700px) {

.container {
    grid-template-columns: 1fr;
    margin: 8rem;
  }


  .btn {
    padding: 0.4rem 0.7rem;
  }

}
